

<!DOCTYPE html>
<html>

   <head>
   		<link rel="stylesheet" href="styles.css">
   		Rock! Paper! Scissors!
   </head>
	
   <body>
   		<div id="choicelist" class="choices">
			<div id="Rock" name="Rock" class="choicebox" tabindex="1">
				<img src="rock.png" alt="rock"  id="rock" class="option">
				
			</div>
			<div id="Paper" name="Paper" class="choicebox" tabindex="2">
				<img src="paper.png" alt="paper"  id="paper" class="option">
			
			</div>
			<div id="Scissors" name="Scissors" class="choicebox" tabindex="3">
				<img src="scissors.png" alt="scissors"  id="scissors" class="option">
				
			</div>
		</div>

		<div id="playBtn" class="btn">
			Play!
		</div>


		<script src="../app.js"></script>

   </body>
	
</html>